/*BARRA DE ROLAGEM*/

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

/*BLAZORED*/

/*Blazored.Toast*/
.blazored-toast-container {
    z-index: 3 !important;
}

/*BLAZORIZE*/

/*Blazorise Header e Footer*/
.b-layout-header-fixed {
    z-index: 3 !important;
}

.b-layout-footer {
    z-index: 3 !important;
}

.card-header {
    padding: .5rem !important;
}

.card-body {
    padding: .5rem !important;
}