/*BARRA DE ROLAGEM*/

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

/*BLAZORED*/

/*Blazored.Toast*/
.blazored-toast-container {
    z-index: 2000 !important;
}

.blazored-toast {
    padding: 0.8rem !important;
}

.blazored-toast-body p {
    text-align: justify !important;
}

.blazored-toast-icon {
    font-size: 2.0rem !important;
    padding: 0 0.8rem 0 0 !important;
}

.blazored-toast-body .blazored-toast-header h5 {
    line-height: inherit !important;
    text-transform: none !important;
    font-size: 1rem !important;
}

.blazored-toast-body .blazored-toast-header .blazored-toast-close {
    font-size: 1rem !important;
}

/*BLAZORIZE*/

.b-layout-sider-content {
    z-index: 4 !important;
}

.b-layout-header-fixed {
    z-index: 3 !important;
}

.b-layout-footer {
    z-index: 3 !important;
}

.figure {
    text-align: center;
}

.figure-img {
    /* max-width: 128px;*/
    max-height: 100% !important;
}