/*BARRA DE ROLAGEM*/

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

/*BLAZORED*/

/*Blazored.Toast*/
.blazored-toast-container {
    z-index: 2000 !important;
}

.position-bottomleft, .position-bottomright, .position-bottomcenter {
    bottom: 1rem !important;
}

.blazored-toast {
    padding: 0.8rem !important;
}

.blazored-toast-body p {
    text-align: justify !important;
}

.blazored-toast-icon {
    font-size: 2.0rem !important;
    padding: 0 0.8rem 0 0 !important;
}

.blazored-toast-body .blazored-toast-header h5 {
    line-height: inherit !important;
    text-transform: none !important;
    font-size: 1rem !important;
}

.blazored-toast-body .blazored-toast-header .blazored-toast-close {
    font-size: 1rem !important;
}

/*BLAZORIZE*/

.b-layout-sider-content {
    z-index: 4 !important;
}

.b-layout-header-fixed {
    z-index: 3 !important;
}

.b-layout-footer {
    z-index: 3 !important;
}

.figure {
    text-align: center;
}

.figure-img {
    /* max-width: 128px;*/
    max-height: 100% !important;
}

.card-header {
    padding: 0.5rem !important;
}

.card-body {
    padding: 0.5rem !important;
}

.card-footer {
    padding: 0.5rem !important;
}

.modal-header {
    padding: 0.5rem !important;
}

.modal-body {
    padding: 0.5rem !important;
    max-height: 80vh;
    overflow-y: auto;
}

.modal-footer {
    padding: 0.5rem !important;
}

.alert {
    padding: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.alert-warning {
    border-color: #efe696;
}

/*BLAZORIZE - BOOTSTRAP*/

/*.alert-primary {
    color: #004085 !important;
    background-color: #cce5ff !important;
    border-color: #b8daff !important;
}

.alert-secondary {
    color: #383d41 !important;
    background-color: #e2e3e5 !important;
    border-color: #d6d8db !important;
}

.alert-success {
    color: #155724 !important;
    background-color: #d4edda !important;
    border-color: #c3e6cb !important;
}

.alert-danger {
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
}

.alert-warning {
    color: #856404 !important;
    background-color: #fff3cd !important;
    border-color: #ffeeba !important;
}

.alert-info {
    color: #0c5460 !important;
    background-color: #d1ecf1 !important;
    border-color: #bee5eb !important;
}

.alert-light {
    color: #818182 !important;
    background-color: #fefefe !important;
    border-color: #fdfdfe !important;
}

.alert-dark {
    color: #1b1e21 !important;
    background-color: #d6d8d9 !important;
    border-color: #c6c8ca !important;
}*/

body .pwa-updater[b-pwa-updater] {
    --pwa-updater-bar-backcolor: forestgreen;
}