@inherits ComponenteCore<Affinity>

<button class="btn btn-sm btn-success" title="Percentual de afinidade entre este perfil e o que você está procurando">
    Afinidade <span class="badge badge-light">@GetPercentAffinity()%</span>
</button>

@code {
    [Parameter] public ProfilePreferenceModel Preference { get; set; }
    [Parameter] public ProfileModel ProfView { get; set; }

    private List<AffinityVM> affinities = new();

    protected override async Task OnInitializedAsync()
    {
        //affinities = ProfileApi.GetAffinity(Looking, ProfView);
    }

    public double GetPercentAffinity()
    {
        if (affinities != null && affinities.Count > 0)
        {
            double totCheck = affinities.Count(w => w.HaveAffinity);
            double totItens = affinities.Count;

            return Math.Round((totCheck / totItens) * 100, 0);
        }
        else
        {
            return 0;
        }
    }

    public void RefreshComponente(ProfilePreferenceModel Preference, ProfileModel ProfView)
    {
        if (ProfView == null) return;

        //this.affinities = ProfileApi.GetAffinity(Looking, ProfView);
        ////StateHasChanged();
    }
}