@using System.Linq.Expressions;

<label class="col-sm-4 col-form-label">
    @if (!string.IsNullOrEmpty(CssIcon))
    {
        <i class="@CssIcon"></i>
    }
    @label
    @if (!string.IsNullOrEmpty(Comment))
    {
        <br />
        <small class="text-navy">@Comment</small>
    }
</label>

@code {
    [Parameter] public Expression<Func<object>> For { get; set; }
    [Parameter] public string Comment { get; set; }
    [Parameter] public string CssIcon { get; set; }

    private string label => " " + VerusDate.Shared.Helper.AttributeHelper.GetName(For);
}