@if (Options.Premium)
{
    <Alert Color="Color.Danger" Visible="true" Margin="Margin.Is0.FromBottom">
        <AlertDescription>
            <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.UserLock"></Icon> Recurso disponível apenas para usuário premium
        </AlertDescription>
    </Alert>
}
else if (Options.Invalid)
{
    <Alert Color="Color.Danger" Visible="true" Margin="Margin.Is0.FromBottom">
        <AlertDescription>
            <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Bug"></Icon> Operação inválida. Favor, tentar novamente.
        </AlertDescription>
    </Alert>
}
else if (Options.Loading)
{
    <Alert Color="Color.Warning" Visible="true" Margin="Margin.Is0.FromBottom">
        <AlertDescription>
            <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Spinner"></Icon> Carregando...
        </AlertDescription>
    </Alert>
    @*<div class="alert alert-warning">
            <i class="spinner-border spinner-border-sm"></i> Carregando...
        </div>*@
}
else if (Options.NoData)
{
    <Alert Color="Color.Primary" Visible="true" Margin="Margin.Is0.FromBottom">
        <AlertDescription>
            <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.ExclamationTriangle"></Icon> Não há dados para mostrar
        </AlertDescription>
    </Alert>
}

@code {
    [Parameter] public VisibilityOptions Options { get; set; }
}