@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <Button Color="Color.Danger" Type="ButtonType.Link" To="/.auth/logout" Float="Float.Right" Size="Size.ExtraSmall">
            <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.SignOutAlt" /> Sair
        </Button>
    </Authorized>
    <NotAuthorized>
        <Button Color="Color.Primary" Type="ButtonType.Link" To="/login-providers" Float="Float.Right" Size="Size.ExtraSmall">
            <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.SignInAlt" /> Entrar
        </Button>
    </NotAuthorized>
</AuthorizeView>