@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <AuthorizeView>
                <Authorized>
                    Hello, @context.User.Identity.Name!
                    <a href="/.auth/logout?post_logout_redirect_uri=/">Log out</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/login-providers">Log in</a>
                </NotAuthorized>
            </AuthorizeView>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
