@inherits LayoutComponentBase

<Layout Sider="true">
    <AuthorizeView>
        <Authorized>
            <LayoutSider>
                <LayoutSiderContent>
                    <NavMenu />
                </LayoutSiderContent>
            </LayoutSider>
        </Authorized>
    </AuthorizeView>
    <Layout>
        <LayoutHeader Fixed="true">
            <Bar Breakpoint="Breakpoint.Desktop" Background="Background.Light" ThemeContrast="ThemeContrast.Light">
                <AuthorizeView>
                    <Authorized>
                        <BarBrand Display="Display.Always">
                            <Badge Color="Color.Secondary" Float="Float.Left" Margin="Margin.Is2.FromRight" Style="background-color: #D4AF37; color: #fff !important;" Pill="true">
                                <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Crown" /> 2
                            </Badge>
                            <Badge Color="Color.Secondary" Float="Float.Left" Margin="Margin.Is2.FromRight" Style="background-color: #5c7cfa; color: #fff !important;" Pill="true">
                                <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Gem" /> 2
                            </Badge>
                            <Badge Color="Color.Secondary" Float="Float.Left" Style="background-color: #dc3545; color: #fff !important;" Pill="true">
                                <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.AppleAlt" /> 2
                            </Badge>
                        </BarBrand>
                    </Authorized>
                </AuthorizeView>
                <BarMenu Display="Display.InlineBlock" Style="flex-basis: unset !important;">
                    <BarEnd Display="Display.Block">
                        <LoginDisplay />
                    </BarEnd>
                </BarMenu>
            </Bar>
        </LayoutHeader>
        <LayoutContent>
            <Container Fluid="true" Padding="Padding.Is3.FromTop">
                @Body
            </Container>
        </LayoutContent>
        <AuthorizeView>
            <Authorized>
                <LayoutFooter Fixed="true" Display="Display.Block.None.OnDesktop">
                    <Bar Breakpoint="Breakpoint.Desktop" Background="Background.Light" ThemeContrast="ThemeContrast.Light" Padding="Padding.Is0" Display="Display.Block" Style="text-align: center;">
                        <BarBrand Display="Display.None.OnDesktop" Margin="Margin.Is0.FromRight">
                            <Buttons>
                                <Button Color="Color.Secondary" To="/" Type="ButtonType.Link">
                                    <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.ThLarge" />
                                </Button>
                                <Button Color="Color.Secondary" To="Profile" Type="ButtonType.Link">
                                    <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.AddressCard" />
                                </Button>
                                <Button Color="Color.Secondary" To="Match" Type="ButtonType.Link">
                                    <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Fire" />
                                </Button>
                                <Button Color="Color.Secondary" To="Search" Type="ButtonType.Link">
                                    <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Search" />
                                </Button>
                                <Button Color="Color.Secondary" To="Event" Type="ButtonType.Link">
                                    <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.CalendarAlt" />
                                </Button>
                                <Button Color="Color.Secondary" To="Store" Type="ButtonType.Link">
                                    <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.ShoppingCart" />
                                </Button>
                                <Button Color="Color.Secondary" To="Support" Type="ButtonType.Link">
                                    <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Bug" />
                                </Button>
                            </Buttons>
                        </BarBrand>
                    </Bar>
                </LayoutFooter>
                <LayoutFooter Margin="Margin.Is2" Display="Display.None.Block.OnDesktop">
                    <Badge Color="Color.Secondary" Float="Float.Left">©2021 DRMA Technologies. All rights reserved.</Badge>
                    <Badge Color="Color.Danger" Float="Float.Right">Versão MVP</Badge>
                </LayoutFooter>
            </Authorized>
            <NotAuthorized>
                <LayoutFooter Margin="Margin.Is2" Display="Display.Block">
                    <Badge Color="Color.Secondary" Float="Float.Left">©2021 DRMA Technologies. All rights reserved.</Badge>
                    <Badge Color="Color.Danger" Float="Float.Right">Versão MVP</Badge>
                </LayoutFooter>
            </NotAuthorized>
        </AuthorizeView>
    </Layout>
</Layout>

<BlazoredToasts Position="ToastPosition.BottomRight" ShowProgressBar="true" Timeout="7"
                IconType="IconType.FontAwesome"
                SuccessIcon="far fa-check-circle"
                ErrorIcon="fa fa-bug"
                WarningIcon="fas fa-exclamation-circle" />