@inherits ComponenteCore<NavMenu>
@inject HttpClient Http

<Sidebar @ref="sidebar">
    <SidebarContent>
        <SidebarBrand Style="text-align: center;">
            <a href="">Verus Date</a>
            <AuthorizeView>
                <Authorized>
                    <Figure Style="max-width: 128px;" Margin="Margin.Is0">
                        <FigureImage Source="@profile.GetMainPhoto()" Rounded="true" />
                    </Figure>
                    <Blazorise.Link To="Profile/Account" Title="Gerenciar Perfil" Style="font-size: 0.80rem; padding: 0.70rem;">
                        @context.User.Identity.Name
                    </Blazorise.Link>
                </Authorized>
            </AuthorizeView>
        </SidebarBrand>
        <SidebarNavigation>
            <SidebarItem>
                <SidebarLink To="" Title="Home">
                    <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.ThLarge" Margin="Margin.Is3.FromRight" />Home
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink To="Profile" Title="Profile">
                    <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.AddressCard" Margin="Margin.Is3.FromRight" />Perfil
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink To="Match" Title="Match">
                    <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Fire" Margin="Margin.Is3.FromRight" />Match
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink To="Search" Title="Search">
                    <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Search" Margin="Margin.Is3.FromRight" />Busca
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink To="Event" Title="Event">
                    <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.CalendarAlt" Margin="Margin.Is3.FromRight" />Eventos
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink To="Store" Title="Store">
                    <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.ShoppingCart" Margin="Margin.Is3.FromRight" />Loja
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink To="Support" Title="Support">
                    <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Bug" Margin="Margin.Is3.FromRight" />Suporte
                </SidebarLink>
            </SidebarItem>
        </SidebarNavigation>
    </SidebarContent>
</Sidebar>

@code {
    Sidebar sidebar;
    private VerusDate.Shared.Model.Profile.Profile profile = new();

    void ToggleSidebar()
    {
        sidebar.Toggle();
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (ComponenteUtils.IsAuthenticated)
        {
            profile = await Http.Profile_Get();
        }
    }
}