@page "/ProfileGallery"
@attribute [Authorize]
@inherits PageCore<ProfileGallery>
@inject HttpClient Http

<Row>
    <Column ColumnSize="ColumnSize.Is3">
        <Card>
            <CardHeader>
                Foto Principal
            </CardHeader>
            <CardImage Source="@imageDataUri"></CardImage>
            <CardBody>
                <div class="custom-file">
                    <InputFile OnChange="@OnInputFileChange" @attributes="@GetAttributes()"></InputFile>
                    <label for="logo" class="custom-file-label">Escolher arquivo...</label>
                </div>
            </CardBody>
        </Card>
    </Column>
    <Column ColumnSize="ColumnSize.Is9">
        <Card>
            <CardHeader>
                Galeria de Fotos
            </CardHeader>
            <CardBody>
                <FeatureUnavailable></FeatureUnavailable>
            </CardBody>
        </Card>
    </Column>
</Row>

@code
{
    private VerusDate.Shared.Model.Profile.Profile _profile = new();
    string imageDataUri = ImageHelper.GetNoUserPhoto;

    protected override async Task LoadData()
    {
        _profile = await Http.Profile_Get();

        if (_profile != null && _profile.Photo != null)
        {
            imageDataUri = _profile.GetMainPhoto();
        }
    }

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        try
        {
            var maxAllowedFiles = 1;
            var format = "image/jpeg";

            foreach (var imageFile in e.GetMultipleFiles(maxAllowedFiles))
            {
                var resizedImageFile = await imageFile.RequestImageFileAsync(format, 480, 480);
                var buffer = new byte[resizedImageFile.Size];
                await resizedImageFile.OpenReadStream().ReadAsync(buffer);
                imageDataUri = $"data:{format};base64,{Convert.ToBase64String(buffer)}";

                if (ImageHelper.ValidImage(buffer))
                {
                    var response = await Http.Storage_UploadPhotoFace(buffer);

                    if (response.IsSuccessStatusCode)
                    {
                        _profile = await ApiCore.ReturnResponse<VerusDate.Shared.Model.Profile.Profile>(response);
                    }

                    await response.ProcessResponse(Toast, "Foto atualizada com sucesso!");
                }
                else
                {
                    imageDataUri = null;
                    Toast.ShowError("Foto inválida, favor tentar novamente");
                }

                RefreshCore.RefreshMenu();
            }
        }
        catch (Exception ex)
        {
            imageDataUri = null;
            ex.ProcessException(Toast, Logger);
        }
    }

    public static Dictionary<string, object> GetAttributes()
    {
        return new Dictionary<string, object>() { { "class", "custom-file-input" }, { "accept", "image/*" } };
    }
}