@inherits ComponenteCore<BtnBlink>
@inject HttpClient Http

@if (IsVisible)
{
    <button class="btn btn-success btn-circle btn-lg" style="position: relative; margin-left: 10px;" type="button" title="Blink" @onclick="Blink">
        <span class="badge badge-warning" style="position: absolute; top: -8px; right: -10px;" title="-1 Diamante"><i class="fas fa-gem"></i></span>
        <i class="far fa-kiss-wink-heart"></i>
    </button>
}

@code {
    [Parameter] public string IdUserView { get; set; }
    [Parameter] public EventCallback OnClick { get; set; }

    private bool IsVisible => true;

    private async Task Blink()
    {
        try
        {
            var result = await Http.Interation_Blink(LocalStorage, IdUserView);
            await result.ProcessResponse(Toast, msgInfo: "-1 Diamante");
            await OnClick.InvokeAsync(null);
            RefreshCore.RefreshHead(); //precisa atualizar os diamantes
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }
}