<div style="width: 350px;">
    <EditForm Model="@TicketVM" OnValidSubmit="SubmitForm">
        <FluentValidationValidator />
        <div class="form-group">
            <InputTextArea @bind-Value="@TicketVM.Description" @attributes="@AttributeHelper.GetAttributes((() => TicketVM.Description), false, true, true)"></InputTextArea>
            <ValidationMessage For="@(()=>TicketVM.Description)"></ValidationMessage>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <button @onclick="Cancel" class="btn btn-secondary">Cancelar</button>
    </EditForm>
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    [Parameter] public TicketType TicketType { get; set; }

    public TicketVM TicketVM { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        TicketVM = new TicketVM(ComponenteUtils.IdUser, TicketType);
    }

    void SubmitForm() => BlazoredModal.Close(ModalResult.Ok<TicketVM>(TicketVM));
    void Cancel() => BlazoredModal.Cancel();
}