@page "/Terms/{lang}"

<div class="article">
    <div class="row justify-content-md-center">
        <div class="col-lg-10">
            <div class="ibox">
                <div class="ibox-content" style="text-align: justify;">
                    @if (lang == "pt")
                    {
                        <div class="text-center article-title">
                            <span class="text-muted"><i class="fa fa-clock-o"></i> 06 de Julho de 2020</span>
                            <h1>
                                Termos de Uso
                            </h1>
                        </div>
                        <p>Bem-vindo ao Verus Date!</p>

                        <p>Estes termos e condições descrevem as regras e regulamentos para o uso do site da Verus Date, localizado em verusdate.com.</p>

                        <p>Ao acessar este site, assumimos que você aceita estes termos e condições. Não continue a usar a Verus Date se não concordar com todos os termos e condições estabelecidos nesta página.</p>

                        <p>A terminologia a seguir se aplica a estes Termos e Condições, Declaração de Privacidade e Aviso de Isenção de Responsabilidade e todos os Contratos: "Usuário", "Você" e "Seu" se referem a você, a pessoa que faz logon neste site e está em conformidade com os termos e condições da Empresa. "A Empresa", "Nós mesmos", "Nosso" e "Nós", se refere à nossa Empresa. "Parte", "Partes" ou "Nós" refere-se a ambos o Usuário e a nós mesmos. Todos os termos se referem à oferta, aceitação e consideração do pagamento necessário para realizar o processo de nossa assistência ao Usuário da maneira mais apropriada para o propósito expresso de atender às necessidades do Usuário em relação à prestação dos serviços declarados da Empresa, de acordo com e sujeito às leis vigentes do Brasil. Qualquer uso da terminologia acima ou de outras palavras no singular, plural, letras maiúsculas e/ou ele/ela ou elas são consideradas intercambiáveis e, portanto, referentes à mesma.</p>

                        <h3><strong>Cookies</strong></h3>

                        <p>Empregamos o uso de cookies. Ao acessar a Verus Date, você concorda em usar cookies de acordo com a Política de Privacidade da Verus Date.</p>

                        <p>A maioria dos sites interativos usa cookies para recuperar os detalhes do usuário para cada visita. Os cookies são usados pelo nosso site para habilitar a funcionalidade de determinadas áreas para facilitar as pessoas que visitam nosso site. Alguns de nossos afiliados/parceiros de publicidade também podem usar cookies.</p>

                        <h3><strong>Licença</strong></h3>

                        <p>Salvo indicação em contrário, a Verus Date e/ou seus licenciadores detêm os direitos de propriedade intelectual de todo o material na Verus Date. Todos os direitos de propriedade intelectual são reservados. Você pode acessá-lo na Verus Date para seu uso pessoal, sujeito às restrições estabelecidas nestes termos e condições.</p>

                        <p>Você não deve:</p>
                        <ul>
                            <li>Republicar Material da Verus Date</li>
                            <li>Vender, alugar ou sub-licenciar material da Verus Date</li>
                            <li>Reproduzir, duplicar ou copiar material da Verus Date</li>
                            <li>Redistribuir conteúdo da Data Verus</li>
                        </ul>

                        <p>Este Contrato começará na data deste documento.</p>

                        <p>Partes deste site oferecem uma oportunidade para os usuários postarem e trocarem opiniões e informações em determinadas áreas do site. O Verus Date não filtra, edita, publica ou revisa Comentários antes de sua presença no site. Os comentários não refletem as visões e opiniões da Verus Date, de seus agentes e/ou afiliados. Os comentários refletem as visões e opiniões da pessoa que postou suas visões e opiniões. Na extensão permitida pelas leis aplicáveis, a Verus Date não será responsável pelos Comentários ou por qualquer responsabilidade, danos ou despesas causados e/ou sofridos como resultado de qualquer uso e/ou publicação e/ou aparência dos Comentários nessa plataforma.</p>

                        <p>A Verus Date se reserva o direito de monitorar todos os Comentários e remover quaisquer Comentários que possam ser considerados inapropriados, ofensivos ou que causem violação destes Termos e Condições.</p>

                        <p>Você garante e representa que:</p>

                        <ul>
                            <li>Você tem o direito de publicar os Comentários em nosso site e tem todas as licenças e consentimentos necessários para fazê-lo;</li>
                            <li>Os Comentários não invadem nenhum direito de propriedade intelectual, incluindo, sem limitação, direitos autorais, patente ou marca comercial de terceiros;</li>
                            <li>Os Comentários não contêm material difamatório, difamatório, ofensivo, indecente ou ilegal que seja uma invasão de privacidade</li>
                            <li>Os Comentários não serão usados para solicitar ou promover atividades comerciais ou personalizadas ou apresentar atividades comerciais ou atividades ilegais.</li>
                        </ul>

                        <p>Você concede à Verus Date uma licença não exclusiva para usar, reproduzir, editar e autorizar outras pessoas a usar, reproduzir e editar qualquer um de seus Comentários em todos e quaisquer formatos, formatos ou mídias.</p>

                        <h3><strong>Hyperlinking para o nosso conteúdo</strong></h3>

                        <p>As seguintes organizações podem se vincular ao nosso site sem a aprovação prévia por escrito:</p>

                        <ul>
                            <li>Agências governamentais;</li>
                            <li>Mecanismos de pesquisa;</li>
                            <li>Organizações de notícias;</li>
                            <li>Os distribuidores de diretório on-line podem criar um link para o nosso site da mesma maneira que fazem o link para os sites de outras empresas listadas; e</li>
                            <li>Negócios credenciados em todo o sistema, exceto a solicitação de organizações sem fins lucrativos, shoppings de caridade e grupos de angariação de fundos de caridade que não possam vincular-se ao nosso site.</li>
                        </ul>

                        <p>Essas organizações podem vincular-se à nossa página inicial, a publicações ou a outras informações do site, desde que o link: (a) não seja de forma alguma enganoso; (b) não implica falsamente patrocínio, endosso ou aprovação da parte vinculativa e de seus produtos e/ou serviços; e (c) se encaixa no contexto do site da parte vinculativa.</p>

                        <p>Podemos considerar e aprovar outras solicitações de link dos seguintes tipos de organizações:</p>

                        <ul>
                            <li>fontes de informações de consumidores e/ou negócios conhecidas;</li>
                            <li>sites da comunidade dot.com;</li>
                            <li>associações ou outros grupos representando instituições de caridade;</li>
                            <li>distribuidores de diretório online;</li>
                            <li>portais da internet;</li>
                            <li>empresas de contabilidade, direito e consultoria; e</li>
                            <li>instituições educacionais e associações comerciais.</li>
                        </ul>

                        <p>Aprovaremos as solicitações de link dessas organizações se decidirmos que: (a) o link não nos fará parecer desfavoráveis a nós mesmos ou a nossos negócios credenciados; (b) a organização não possui nenhum registro negativo conosco; (c) o benefício para nós da visibilidade do hiperlink compensa a ausência da Verus Data; e (d) o link está no contexto de informações gerais sobre recursos.</p>

                        <p>Essas organizações podem criar um link para a nossa página inicial, desde que o link: (a) não seja de forma alguma enganoso; (b) não implica falsamente patrocínio, endosso ou aprovação da parte vinculativa e de seus produtos ou serviços; e (c) se encaixa no contexto do site da parte vinculativa.</p>

                        <p>Se você é uma das organizações listadas no parágrafo 2 acima e está interessado em criar um link para o nosso site, informe-nos enviando um e-mail para a Verus Date. Inclua seu nome, nome da organização, informações de contato e o URL do seu site, uma lista de quaisquer URLs dos quais você pretende vincular ao nosso site e uma lista dos URLs do nosso site para os quais você deseja ligação. Aguarde 2-3 semanas para uma resposta.</p>

                        <p>As organizações aprovadas podem acessar o nosso site da seguinte maneira:</p>

                        <ul>
                            <li>Pelo uso de nosso nome corporativo; ou</li>
                            <li>Pelo uso do localizador uniforme de recursos ao qual está vinculado; ou</li>
                            <li>O uso de qualquer outra descrição do nosso site vinculada a isso faz sentido dentro do contexto e formato do conteúdo no site da parte vinculante.</li>
                        </ul>

                        <p>Não será permitido o uso do logotipo da Verus Date ou outras obras de arte para vincular um contrato de licença de marca ausente.</p>

                        <h3><strong>iFrames</strong></h3>

                        <p>Sem aprovação prévia e permissão por escrito, você não pode criar iframes nas nossas páginas da Web que alterem de alguma forma a apresentação visual ou a aparência do nosso site.</p>

                        <h3><strong>Responsabilidade pelo Conteúdo</strong></h3>

                        <p>Não nos responsabilizamos por qualquer conteúdo que apareça no seu site. Você concorda em proteger e defender-nos de todas as reivindicações que estão surgindo no seu site. Nenhum link deve aparecer em qualquer site que possa ser interpretado como difamatório, obsceno ou criminal, ou que viole ou defenda a violação ou outra violação de quaisquer direitos de terceiros.</p>

                        <h3><strong>Reserva de Direitos</strong></h3>

                        <p>Reservamo-nos o direito de solicitar que você remova todos os links ou qualquer link específico do nosso site. Você aprova a remoção imediata de todos os links para o nosso site, mediante solicitação. Também nos reservamos o direito de atender a estes termos e condições e à política de vinculação a qualquer momento. Ao vincular continuamente ao nosso site, você concorda em seguir e seguir estes termos e condições de vinculação.</p>

                        <h3><strong>Remoção de links do nosso site</strong></h3>

                        <p>Se você encontrar algum link ofensivo em nosso site por qualquer motivo, poderá entrar em contato e nos informar a qualquer momento. Consideraremos solicitações para remover links, mas não somos obrigados a responder ou responder diretamente a você.</p>

                        <p>Não garantimos que as informações neste site estejam corretas, não garantimos sua integridade ou precisão; nem prometemos garantir que o site permaneça disponível ou que o material no site seja atualizado.</p>

                        <h3><strong>Aviso Legal</strong></h3>

                        <p>Na extensão máxima permitida pela lei aplicável, excluímos todas as representações, garantias e condições relacionadas ao nosso site e ao uso deste site. Nada neste aviso legal irá:</p>

                        <ul>
                            <li>limitar ou excluir nossa ou sua responsabilidade por morte ou lesão corporal;</li>
                            <li>limitar ou excluir nossa ou sua responsabilidade por fraude ou deturpação fraudulenta;</li>
                            <li>limitar qualquer um de nossos ou seus conteúdos de qualquer maneira que não seja permitida pela lei aplicável; ou</li>
                            <li>excluir qualquer um de nossos ou seus conteúdos que não possam ser excluídos pela lei aplicável.</li>
                        </ul>

                        <p>As limitações e proibições de responsabilidade estabelecidas nesta Seção e em outras partes deste aviso: (a) estão sujeitas ao parágrafo anterior; e (b) governar todas as responsabilidades decorrentes do aviso de isenção de responsabilidade, incluindo responsabilidades decorrentes de contrato, delito e quebra de dever estatutário.</p>

                        <p>Desde que o site e as informações e serviços no site sejam fornecidos gratuitamente, não seremos responsáveis por qualquer perda ou dano de qualquer natureza.</p>
                    }
                    else
                    {
                        <div class="text-center article-title">
                            <span class="text-muted"><i class="fa fa-clock-o"></i> 06 de Julho de 2020</span>
                            <h1>
                                Termos de Uso
                            </h1>
                        </div>
                        <p>Welcome to Verus Date!</p>

                        <p>These terms and conditions outline the rules and regulations for the use of Verus Date's Website, located at verusdate.com.</p>

                        <p>By accessing this website we assume you accept these terms and conditions. Do not continue to use Verus Date if you do not agree to take all of the terms and conditions stated on this page.</p>

                        <p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: "User", "You" and "Your" refers to you, the person log on this website and compliant to the Company’s terms and conditions. "The Company", "Ourselves", "We", "Our" and "Us", refers to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services, in accordance with and subject to, prevailing law of Netherlands. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>

                        <h3><strong>Cookies</strong></h3>

                        <p>We employ the use of cookies. By accessing Verus Date, you agreed to use cookies in agreement with the Verus Date's Privacy Policy.</p>

                        <p>Most interactive websites use cookies to let us retrieve the user’s details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising partners may also use cookies.</p>

                        <h3><strong>License</strong></h3>

                        <p>Unless otherwise stated, Verus Date and/or its licensors own the intellectual property rights for all material on Verus Date. All intellectual property rights are reserved. You may access this from Verus Date for your own personal use subjected to restrictions set in these terms and conditions.</p>

                        <p>You must not:</p>
                        <ul>
                            <li>Republish material from Verus Date</li>
                            <li>Sell, rent or sub-license material from Verus Date</li>
                            <li>Reproduce, duplicate or copy material from Verus Date</li>
                            <li>Redistribute content from Verus Date</li>
                        </ul>

                        <p>This Agreement shall begin on the date hereof.</p>

                        <p>Parts of this website offer an opportunity for users to post and exchange opinions and information in certain areas of the website. Verus Date does not filter, edit, publish or review Comments prior to their presence on the website. Comments do not reflect the views and opinions of Verus Date,its agents and/or affiliates. Comments reflect the views and opinions of the person who post their views and opinions. To the extent permitted by applicable laws, Verus Date shall not be liable for the Comments or for any liability, damages or expenses caused and/or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website.</p>

                        <p>Verus Date reserves the right to monitor all Comments and to remove any Comments which can be considered inappropriate, offensive or causes breach of these Terms and Conditions.</p>

                        <p>You warrant and represent that:</p>

                        <ul>
                            <li>You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;</li>
                            <li>The Comments do not invade any intellectual property right, including without limitation copyright, patent or trademark of any third party;</li>
                            <li>The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material which is an invasion of privacy</li>
                            <li>The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful activity.</li>
                        </ul>

                        <p>You hereby grant Verus Date a non-exclusive license to use, reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.</p>

                        <h3><strong>Hyperlinking to our Content</strong></h3>

                        <p>The following organizations may link to our Website without prior written approval:</p>

                        <ul>
                            <li>Government agencies;</li>
                            <li>Search engines;</li>
                            <li>News organizations;</li>
                            <li>Online directory distributors may link to our Website in the same manner as they hyperlink to the Websites of other listed businesses; and</li>
                            <li>System wide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to our Web site.</li>
                        </ul>

                        <p>These organizations may link to our home page, to publications or to other Website information so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products and/or services; and (c) fits within the context of the linking party’s site.</p>

                        <p>We may consider and approve other link requests from the following types of organizations:</p>

                        <ul>
                            <li>commonly-known consumer and/or business information sources;</li>
                            <li>dot.com community sites;</li>
                            <li>associations or other groups representing charities;</li>
                            <li>online directory distributors;</li>
                            <li>internet portals;</li>
                            <li>accounting, law and consulting firms; and</li>
                            <li>educational institutions and trade associations.</li>
                        </ul>

                        <p>We will approve link requests from these organizations if we decide that: (a) the link would not make us look unfavorably to ourselves or to our accredited businesses; (b) the organization does not have any negative records with us; (c) the benefit to us from the visibility of the hyperlink compensates the absence of Verus Date; and (d) the link is in the context of general resource information.</p>

                        <p>These organizations may link to our home page so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products or services; and (c) fits within the context of the linking party’s site.</p>

                        <p>If you are one of the organizations listed in paragraph 2 above and are interested in linking to our website, you must inform us by sending an e-mail to Verus Date. Please include your name, your organization name, contact information as well as the URL of your site, a list of any URLs from which you intend to link to our Website, and a list of the URLs on our site to which you would like to link. Wait 2-3 weeks for a response.</p>

                        <p>Approved organizations may hyperlink to our Website as follows:</p>

                        <ul>
                            <li>By use of our corporate name; or</li>
                            <li>By use of the uniform resource locator being linked to; or</li>
                            <li>By use of any other description of our Website being linked to that makes sense within the context and format of content on the linking party’s site.</li>
                        </ul>

                        <p>No use of Verus Date's logo or other artwork will be allowed for linking absent a trademark license agreement.</p>

                        <h3><strong>iFrames</strong></h3>

                        <p>Without prior approval and written permission, you may not create frames around our Webpages that alter in any way the visual presentation or appearance of our Website.</p>

                        <h3><strong>Content Liability</strong></h3>

                        <p>We shall not be hold responsible for any content that appears on your Website. You agree to protect and defend us against all claims that is rising on your Website. No link(s) should appear on any Website that may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights.</p>

                        <h3><strong>Reservation of Rights</strong></h3>

                        <p>We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately remove all links to our Website upon request. We also reserve the right to amen these terms and conditions and it’s linking policy at any time. By continuously linking to our Website, you agree to be bound to and follow these linking terms and conditions.</p>

                        <h3><strong>Removal of links from our website</strong></h3>

                        <p>If you find any link on our Website that is offensive for any reason, you are free to contact and inform us any moment. We will consider requests to remove links but we are not obligated to or so or to respond to you directly.</p>

                        <p>We do not ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we promise to ensure that the website remains available or that the material on the website is kept up to date.</p>

                        <h3><strong>Disclaimer</strong></h3>

                        <p>To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website. Nothing in this disclaimer will:</p>

                        <ul>
                            <li>limit or exclude our or your liability for death or personal injury;</li>
                            <li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
                            <li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
                            <li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
                        </ul>

                        <p>The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer, including liabilities arising in contract, in tort and for breach of statutory duty.</p>

                        <p>As long as the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter] public string lang { get; set; }
}