@inherits ComponenteCore<BtnBlink>
@inject HttpClient Http

@if (IsVisible)
{
    <Button Color="Color.Success" Size="Size.Large" Style="position: relative;" title="Blink" Clicked="Blink" Margin="Margin.Is2.FromLeft">
        <Badge Color="Color.Warning" Style="position: absolute; top: -8px; right: -10px;" title="-1 Diamante">
            <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Gem"></Icon>
        </Badge>
        <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.KissWinkHeart"></Icon>
    </Button>
}

@code {
    [Parameter] public string IdUserView { get; set; }
    [Parameter] public EventCallback OnClick { get; set; }

    private bool IsVisible => true;

    private async Task Blink()
    {
        try
        {
            var result = await Http.Interation_Blink(LocalStorage, IdUserView);
            await result.ProcessResponse(Toast, msgInfo: "-1 Diamante");
            await OnClick.InvokeAsync(null);
            RefreshCore.RefreshHead(); //precisa atualizar os diamantes
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }
}