@inherits ComponenteCore<BtnBlink>
@inject HttpClient Http

@if (IsVisible)
{
    <Button Color="Color.Success" Style="position: relative;" title="Blink" Clicked="Blink" Margin="Margin.Is1.FromStart" Disabled="true">
        <Badge Color="Color.Warning" Style="position: absolute; top: -8px; right: -10px;" title="-1 Diamante">
            <Blazorise.Icon Name="FontAwesomeIcons.Gem"></Blazorise.Icon>
        </Badge>
        <Blazorise.Icon Name="FontAwesomeIcons.KissWinkHeart"></Blazorise.Icon>
    </Button>
}

@code {
    [Parameter] public string IdUserView { get; set; }
    [Parameter] public EventCallback OnClick { get; set; }

    private bool IsVisible => true;

    private async Task Blink()
    {
        try
        {
            await Http.Interation_Blink(IdUserView, SessionStorage, Toast);
            await OnClick.InvokeAsync(null);
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }
}