@inherits ComponenteCore<BtnChat>
@inject HttpClient Http

<Button Color="Color.Primary" title="Conversar" Clicked="GoChat">
    <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Comments"></Icon>
</Button>

@code {
    [Parameter] public string IdUserView { get; set; }

    private void GoChat()
    {
        Navigation.NavigateTo($"/Explore/Chat/{IdUserView}");
    }
}