@inherits ComponenteCore<BtnDeslike>
@inject HttpClient Http

@if (IsVisible)
{
    <Button Color="Color.Danger" Size="Size.Large" Style="position: relative;" title="Desike" Clicked="Desike">
        <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.ThumbsDown"></Icon>
    </Button>
}

@code {
    [Parameter] public string IdUserView { get; set; }
    [Parameter] public EventCallback OnClick { get; set; }

    private bool IsVisible => true;

    private async Task Desike()
    {
        try
        {
            var result = await Http.Interation_Deslike(IdUserView, SessionStorage);
            await result.ProcessResponse(Toast);
            await OnClick.InvokeAsync(null);
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }
}