@inherits ComponenteCore<BtnLike>
@inject HttpClient Http

@if (IsVisible)
{
    <Button Color="Color.Primary" Style="position: relative;" title="Like" Clicked="Like" Margin="Margin.Is1.FromStart">
        <Badge Color="Color.Warning" Style="position: absolute; top: -8px; right: -10px;" title="-1 Maça">
            <Blazorise.Icon Name="FontAwesomeIcons.AppleAlt"></Blazorise.Icon>
        </Badge>
        <Blazorise.Icon Name="FontAwesomeIcons.ThumbsUp"></Blazorise.Icon>
    </Button>
}

@code {
    [Parameter] public string IdUserView { get; set; }
    [Parameter] public EventCallback OnClick { get; set; }

    private bool IsVisible => true;

    private async Task Like()
    {
        try
        {
            await Http.Interation_Like(IdUserView, SessionStorage, Toast);

            var interaction = await Http.Interation_Get(SessionStorage, IdUserView);

            if (interaction.Match.Value.HasValue && interaction.Match.Value.Value == true)
            {
                Toast.ShowSuccess("", "Match");
            }

            await OnClick.InvokeAsync(null);
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }
}